[submodule "gr-component_converter"]
	path = gr-component_converter
	url = ../gr-component_converter
[submodule "gr-redhawk_integration_python"]
	path = gr-redhawk_integration_python
	url = ../gr-redhawk_integration_python
